PackageTest/PackageTest_Lib/output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="outputmsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="from">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="contact"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to" maxOccurs="5">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="contact"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="s"/>
        <xs:element type="xs:string" name="m"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>